body{
    background-color:  rgb(30, 30, 30);
    
}

div{
    background-color: rgb(255, 255, 255);
    width: 155px;
    height: 250;
    /* word-wrap:break-word; */
    /* overflow-y: scroll; */
    /* white-space: nowrap; */
    color: black;
    display: inline-block;
    margin: 5px;
    border-style:solid;
}
img{
    width: 155px;
    height: 100;
}
.city{
    font-style: oblique;
    position:relative;
    top: 20px;
    left: 5px;
}
